<div class="card mb-3">
  <h2 class="card-header h4">
    Crew #<%= crew.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Movie</dt>
      <dd>
        <% if @crew.movie.present? %>
          <%= link_to crew.movie, crew.movie %>
        <% end %>
      </dd>

      <dt>Director</dt>
      <dd>
        <% if @crew.director.present? %>
          <%= link_to crew.director, crew.director %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back crew, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_crew_url(crew), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to crew, method: :delete, data: { confirm: "Do you really want to delete this crew?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(crew.updated_at) %> ago
  </div>
</div>
